# Prerequisites
*.d

# Applications
applications/Christensen
applications/DFG
applications/MIT
applications/step-35
convergence_tests/Couette
convergence_tests/Guermond
convergence_tests/GuermondNeumannBC
convergence_tests/TGV
convergence_tests/ThermalTGV

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
 
 # LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# CMake
Bytes
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/build/
tests/applications/*/*.debug/
tests/convergence_tests/*/*.debug/
tests/rotatingMHD/*.debug/
tests/rotatingMHD/*/*.debug/
tests/applications/*/*.release/
tests/convergence_tests/*/*.release/
tests/rotatingMHD/*.release/
tests/rotatingMHD/*/*.release/


# Eclipse
.cproject
.metadata
.project
.settings

# Meshes and Output
*.med
*.xml
*.vtk
*.msh
*.vtu
*.pvtu
*.visit
*.pvd
*.gpl

# Python compiled modules
*.pyc
*.pyo

# Archives
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Doxygen
documentation/html/*
documentation/latex/*
